/* here you can put your own css to customize and override the theme */
.header-navigation {
    font: 15px "PT Sans Narrow", Arial, sans-serif;
}

.carousel-slider .carousel-title-v1 {
    font-size: 5vw;
    font-weight: 600;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.carousel-slider .subtitle {
    font-size: 3vw;
    margin-top: 25px;
}
