/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

#wizard_container {
    width: 100%;
}

.select2-container {
    padding: 6px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 4px;
}

.select2-selection--single .select2-selection__arrow {
    height: 35px !important;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
}

.header-navigation {
    font: 17px "PT Sans Narrow", Arial, sans-serif;
}
